
@{
    ViewBag.Title = "SearchDegree";
    Layout = null;
}
<div style="margin:auto;">
    <table class="table" style="margin:auto;">
        <thead>
            <tr>
                <th class="col-sm-4">Student Name</th>
                <th class="col-sm-4">Subject Name</th>
                <th class="col-sm-2">Degree</th>
                <th class="col-sm-2"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var studentGrade in Model)
            {
                <tr>
                    <td>@studentGrade.Student.Name</td>
                    <td>@studentGrade.Subject.Name</td>
                    <td>@studentGrade.Degree</td>
                    <td>
                        <a class="btn btn-primary" onclick="Edit(@studentGrade.Id)">Edit</a>
                        <a class="btn btn-danger" onclick="Delete(@studentGrade.Id)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

